<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <runtime>
  </runtime>
  <appSettings>
    <add key="RawQueue" value="rabbitmq://localhost/main/raw"/>
    <add key="ProcessedQueue" value="rabbitmq://localhost:15672/main/processed"/>
  </appSettings>
</configuration>
